<div class='top-level'>
    <div class='disclaimer'>
        Disclaimer:  Thanks to the fires in Oregon, I lost my iphone, laptop, and thumb drives.
        I'm rebuilding my NG portfolio.  This app is the first one.
    </div>

    <div class='greetings'>Greetings,</div>
    <div class='body'>
        <p>
    You should hire me because I have the skills & experience to ensure your business
requirements are correctly captured, groomed, and implemented in a fashion that yields the best
implementation at the lowest cost with minimal friction. You should hire me if you need a dedicated
engineering resource that has years of experience architecting, designing, and building on-prem,
hybrid and cloud-based solutions on a remote basis.
        </p>
        <p>
    My love and dedication for configuring, running, and tuning Scrum Teams—— <i>using Agile Scrum
tools, platforms, and techniques</i>—— is a strong value add to your company, teams, and products. I excel at working remotely with
full transparency, visibility, and accountability.  I bring years of experience to the table, yet, every day is a school day because change never stops in
IT. I always strive to make solid contributions to the team, and to help those that need it. I always have
fun on the job, because fun teams have the best chance at sustained success.
        </p>
        <p> 
    In conclusion, my resume contains the details, the technologies, and the projects of my career. My
excellent references will do all the boasting for me. I have details on every project, so feel free to ask
about them (the 8-page resume).
        </p>
    </div>
    <br>
I hope to hear from you soon.
    <br>
Thank you for your time,
    <br><br>
Michael Bowman
    <div class='contact-info'>
Cell:971-203-4437
<br>
email:mbowman@verticalworks.com
    </div>
</div>
