.top-level{
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-size: large;
    width: 500px;
    padding-left:50px;
    padding-right:50px;
    padding-top:25px;
    color:blue;
    text-shadow: 1px 2px 3px #a09d9d;
    text-align: justify;
    text-justify: inter-word;
    .disclaimer{
        font-size: smaller;
        color: #c60000
    }
    .greetings{
        padding-top: 20px;
    }
    .body{
        padding-top: 20px;
    }
    .contact-info{
        font-size: small;
    }
}