@import "../../../styles.less";

.top-level{
  display: flex;
  flex-direction:column;
  justify-content: center;
  flex-wrap: nowrap;
  width: -webkit-fill-available;
  .title{
    font-size: x-large;
  }
  .grid{
    width:600px;
  }
  .operations{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    .load-data{
      font-size:x-large;
      color:red;
      text-shadow: 1px 2px 3px #252525;
    }
    .paginator{
    }
  }
}

