<div class='top-level'>
  
  <div class='title'><h1>Star Wars People</h1></div>
  
  <div class='grid'>
    <ag-grid-angular
      #myGrid
      id="myGrid"
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData] ="apiResults.results"
      [rowSelection]="rowSelection"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [rowDragManaged]="true"
      [suppressLoadingOverlay] = "suppressLoadingOverlay"
      [animateRows]="true"
      [pagination]="false"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>

  <div class='operations'>
    
    <button class='load-data' mat-button color="primary" (click)='loadData()'>
      Load Data
    </button>
    <div class='paginator'>
      <mat-paginator
        #paginator
        [pageSize]="pager.pageSize"
        [pageSizeOptions]="[10]"
        [showFirstLastButtons]="true"
        [length]="apiResults.count"
        [pageIndex]="pager.pageIndex"
        (page)="handlePage($event)">
      </mat-paginator>
    </div>
  </div>
</div>
