<div class='top-level'>
  <div class='title'>Star Wars People</div>
  <div class='grid'>
    <ag-grid-angular
      #myGrid
      id="myGrid"
      style="width: 600px; height: 500px;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData] ="apiResults.results"
      [rowSelection]="rowSelection"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [rowDragManaged]="true"
      [suppressLoadingOverlay] = "suppressLoadingOverlay"
      [animateRows]="true"
      [pagination]="false"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div>
    <mat-paginator
      #paginator
      [pageSize]="pager.pageSize"
      [pageSizeOptions]="[10]"
      [showFirstLastButtons]="true"
      [length]="apiResults.count"
      [pageIndex]="pager.pageIndex"
      (page)="handlePage($event)">
    </mat-paginator>
  </div>
</div>
