<div class="card">
    <div class="card-body">
      <form [formGroup]="formGroup">
        <div class="form-group">
          <label class="col-md-4">ID</label>
          <input type="text" class="form-control" formControlName="id" #id/>
          <div *ngIf="formGroup.controls['id'].invalid && (formGroup.controls['id'].dirty || formGroup.controls['id'].touched)" class="alert alert-danger">
            <div *ngIf="formGroup.controls['id'].errors.required">
              ID is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Title</label>
          <input type="title" class="form-control" formControlName="title" #title/>
          <div *ngIf="formGroup.controls['title'].invalid && (formGroup.controls['title'].dirty || formGroup.controls['title'].touched)" class="alert alert-danger">
            <div *ngIf="formGroup.controls['title'].errors.required">
              Title is required
            </div>
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Text</label>
            <input type="email" class="form-control" formControlName="text" #text/>
            <div *ngIf="formGroup.controls['text'].invalid && (formGroup.controls['text'].dirty || formGroup.controls['text'].touched)" class="alert alert-danger">
              <div *ngIf="formGroup.controls['text'].errors.required">
                Text is required
              </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Is Completed</label>
            <input type="boolean" class="form-control" formControlName="isCompleted" #isCompleted/>
            <div *ngIf="formGroup.controls['isCompleted'].invalid && (formGroup.controls['isCompleted'].dirty || formGroup.controls['isCompleted'].touched)" class="alert alert-danger">
              <div *ngIf="formGroup.controls['isCompleted'].errors.required">
                Is Completed is required
              </div>
            </div>
        </div>

        <div class="form-group">
          <button (click)="addTodo(id.value, title.value, text.value, isCompleted.value)" 
              class="btn btn-primary"
              [disabled]="formGroup.pristine || formGroup.invalid">Create Todo</button>
        </div>
      </form>
    </div>
  </div>
